name: build-test-deploy

on:
  push:
    branches:
      - main

env:
  PROJECT_VERSION: "1.0.0"
  MAVEN_OTPS: "-Dmaven.repo.local=$(($((github.workspace))/.m2/repository))/.m2/repository"

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v6.0.0
    
    - name: Setup Java JDK
      uses: actions/setup-java@v5.0.0
      with:
        distribution: zulu
        java-version: 17
        
    - name: Cache
      uses: actions/cache@v4.3.0
      with:
          path: $((github.workspace))/.m2/repository
          key: cache-dependances

    - name: build project with Maven
      run: mvn clean package -DskipTests

    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v5.0.0
      with:
        name: helloworld-${{ env.PROJECT_VERSION }}.jar
        path: target/*.jar
      
  test:
    name: "Test"
    runs-on: ubuntu-latest
    needs: build
    continue-on-error: true
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.0
      - name: Setup Java JDK
        uses: actions/setup-java@v5.0.0
        with:
          # Java distribution. See the list of supported distributions in README file
          distribution: zulu
          java-version: 17

      - name: Cache
        uses: actions/cache@v4.3.0
        with:
          # A list of files, directories, and wildcard patterns to cache and restore
          path: "${{ github.workspace }}/.m2/repository/"
          # An explicit key for restoring and saving the cache
          key: 'repository_hash'

      - name: "start build"
        run:
          mvn test
          
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    needs: 
      - build
      - test

    steps:
      - name: Download a Build Artifact
        uses: actions/download-artifact@v6.0.0
        with:
          name: helloworld-${{ env.PROJECT_VERSION }}.jar
          path: ./deploy-artifact

      - name: Simulate deployment
        run: |
          echo "Déploiement en cours..."
          echo "Artifact récupéré :"
          ls -l ./deploy-artifact
          echo "Déploiement terminé (simulation)."
