name: build-test-deploy

on:
  push:
    branches:
      - main

env:
  PROJECT_VERSION: "1.0.0"

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v6.0.0
    
    - name: Setup Java JDK
      uses: actions/setup-java@v5.0.0
      with:
        distribution: temurin
        java-version: "17"
        
    - name: Cache
      uses: actions/cache@v4.3.0
      with:
          path: $((github.workspace))/.m2/repository
          key: cache-dependances

    - name: build project with Maven
      run: mvn clean package -DskipTests
